body{
	background-color: #fafafa;
}
*{
	margin: 0;
}


.header{
	background-color: #1b39ab;
	height: 70px;
}

.wrapper{
	width: 960px;
	height: 700px;
	box-shadow: 0 2px 5px rgba(0,0,0,0.4);
	margin: 0 auto;
	background-color: #fff;
}
