.header{
	height: 40px;
	background-color: rgba(41, 171, 226, 0.6);
}

.header h3{
	text-align: center;
}

.container{
	max-width: 960px;
	margin: 0 auto;
}

.main{
	background-image: url("../images/bg.jpg");
	background-size: cover;
	background-position: 50% 50%;
}

.main li{
	text-align: left;
	border-bottom: 1px solid #999;
	height: 55px;
}

.main li .title{
	color:#fff;
	padding-left: 5%;
}

.main li .author{
	color:#b3b3b3;
	font-size: 13px;
		padding-left: 5%;

}

.footer{
	background-color: black;
	height: 65px;
	position: fixed;
	width: 100%;
	bottom: 0;
}

.footer .play{
	line-height: 65px;

}